<app-unauthorized
  *ngIf="!authorized"
  (authorizeEvent)="authorize()"
></app-unauthorized>

<div *ngIf="authorized" class="container">
  <app-title [title]="{ english: 'Connections', vietnamese: '' }"></app-title>

  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">IP Addresses</h3>
          <div class="card-text">
            Total IP Addresses: <code>{{ total_ips }}</code>
            <br />
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th>Connections</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ip_connections | keyvalue">
                  <td>{{ item.key }}</td>
                  <td>{{ item.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Days</h3>
          <div class="card-text">
            Total Days: <code>{{ total_days }}</code>
            - Average Per Day:
            <code>{{ connections.length / total_days }}</code>
            <br />
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Connections</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of day_connections | keyvalue">
                  <td>{{ item.key }}</td>
                  <td>{{ item.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">All Connections</h3>
          <div class="card-text">
            Total Connections: <code>{{ connections.length }}</code> <br />
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th>URL</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let connection of connections">
                  <td>{{ connection.ip }}</td>
                  <td>{{ connection.url }}</td>
                  <td>{{ connection.time }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
