<div class="center">
  <button
    *ngIf="!opened"
    type="button"
    class="btn btn-lg btn-ghost"
    (click)="open()"
  >
    {{ question_type === "Vietnamese" ? card.translation : card.word }}
  </button>
  <div *ngIf="opened">
    <div *ngIf="correct">
      <button type="button" class="btn btn-lg btn-success disabled">
        {{ question_type === "Vietnamese" ? card.translation : card.word }}
      </button>
      <div class="alert alert-success" role="alert">
        <strong>That is correct!</strong>
      </div>
    </div>
    <div *ngIf="!correct">
      <button type="button" class="btn btn-lg btn-danger disabled">
        {{ question_type === "Vietnamese" ? card.translation : card.word }}
      </button>
      <div class="alert alert-danger" role="alert">
        <strong>That is incorrect!</strong>
        <br />
        This translates to:
        <code>{{
          question_type === "Vietnamese" ? card.word : card.translation
        }}</code>
      </div>
    </div>
  </div>
</div>
