<div class="modal fade" id="editExampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Example (ID: {{ example.id }}, Card: {{ example.card }})
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <h6 class="center">Vietnamese Word: {{ card.word }}</h6>
        </div>
        <div class="row mb-3">
          <label for="inputExample" class="col-form-label"
            >Vietnamese Example</label
          >
          <input
            type="text"
            class="form-control bg-dark"
            id="inputExample"
            maxlength="128"
            [(ngModel)]="this.example.example"
          />
        </div>
        <div class="row mb-3">
          <label for="inputTranslation" class="col-form-label"
            >English Translation</label
          >
          <input
            type="text"
            class="form-control bg-dark"
            id="inputTranslation"
            maxlength="256"
            [(ngModel)]="this.example.translation"
          />
        </div>
        <div class="row mb-3" *ngIf="!is_iphone">
          <h6>Audio</h6>
          <div class="col-md-3">
            <button
              *ngIf="!recording"
              class="btn btn-success w-auto mx-auto"
              (click)="startRecording()"
            >
              <i class="bi bi-mic"></i>
              Record
            </button>
            <button
              *ngIf="recording"
              class="btn btn-danger w-auto mx-auto"
              (click)="stopRecording()"
            >
              <i class="bi bi-mic-mute"></i>
              Stop
            </button>
          </div>
          <div class="col-md-9">
            <audio controls *ngIf="audio != null">
              <source [attr.src]="audio.url" />
            </audio>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="save()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
