<app-unauthorized
  *ngIf="!authorized"
  (authorizeEvent)="authorize()"
></app-unauthorized>

<div *ngIf="authorized" class="container">
  <app-title
    [title]="{ english: 'Flash Card Categories', vietnamese: '' }"
  ></app-title>

  <div class="row center mb-2">
    <div class="col-12">
      <button type="button" class="btn btn-secondary" (click)="togglePrimary()">
        <i class="bi bi-arrow-left-right"></i>
        Toggle Sides
        <i class="bi bi-arrow-left-right"></i>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ primary_is_card ? "Flash Cards" : "Categories" }}
          </h3>
          <div class="row">
            <div class="col-10 left">
              {{ primary_is_card ? "Word" : "Category" }}
            </div>
            <div class="col-2 right">
              {{ primary_is_card ? "Categories" : "Cards" }}
            </div>
          </div>
          <div id="primaryList" class="card-text overflow-auto">
            <ng-container *ngFor="let item of primary_list">
              <button
                type="button"
                [ngClass]="
                  primary_id === item.id ? 'btn btn-primary' : 'btn btn-ghost'
                "
                (click)="selectPrimary(item.id)"
              >
                <div class="row">
                  <div class="col-10 left">
                    {{ primary_is_card ? item.translation : item.name }}
                  </div>
                  <div class="col-2 right">
                    {{
                      primary_is_card
                        ? card_count[item.id]
                        : category_count[item.id]
                    }}
                  </div>
                </div>
              </button>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ primary_is_card ? "Categories" : "Flash Cards" }}
          </h3>
          <div class="row">
            <div class="col-10 left">
              {{ primary_is_card ? "Category" : "Word" }}
            </div>
            <div class="col-2 right">
              {{ primary_is_card ? "Cards" : "Categories" }}
            </div>
          </div>
          <div id="secondaryList" class="card-text overflow-auto">
            <ng-container *ngFor="let item of secondary_list">
              <button
                type="button"
                [ngClass]="
                  primary_is_card
                    ? cards_categories[primary_id] &&
                      cards_categories[primary_id][item.id]
                      ? 'btn btn-primary'
                      : 'btn btn-ghost'
                    : categories_cards[primary_id] &&
                      categories_cards[primary_id][item.id]
                    ? 'btn btn-primary'
                    : 'btn btn-ghost'
                "
                (click)="selectSecondary(item.id)"
              >
                <div class="row">
                  <div class="col-10 left">
                    {{ primary_is_card ? item.name : item.translation }}
                  </div>
                  <div class="col-2 right">
                    {{
                      primary_is_card
                        ? category_count[item.id]
                        : card_count[item.id]
                    }}
                  </div>
                </div>
              </button>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
