<div class="container">
  <app-title
    [title]="{ english: 'Flash Card Categories', vietnamese: '' }"
  ></app-title>

  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Flash Cards</h3>
          <div id="cardList" class="card-text overflow-auto">
            <ng-container *ngFor="let item of cards | keyvalue">
              <button
                type="button"
                [ngClass]="
                  card_id === item.key ? 'btn btn-primary' : 'btn btn-ghost'
                "
                (click)="selectCard(item.key)"
              >
                {{ item.value.translation }}
              </button>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Categories</h3>
          <div id="categoryList" class="card-text overflow-auto">
            <ng-container *ngFor="let item of categories | keyvalue">
              <input type="checkbox" class="btn-check" autocomplete="off" />
              <label
                [ngClass]="
                  cards_categories[card_id] &&
                  cards_categories[card_id][item.key]
                    ? 'btn btn-primary'
                    : 'btn btn-ghost'
                "
                (click)="toggleCategory(item.key)"
              >
                {{ item.value.name }}
              </label>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
