<div class="modal fade" id="addCardModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title">Add Flash Card</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="inputWord" class="col-form-label">Vietnamese Word</label>
          <input
            type="text"
            class="form-control bg-dark"
            id="inputWord"
            maxlength="32"
            [(ngModel)]="this.card.word"
          />
        </div>
        <div class="row mb-3">
          <label for="inputTranslation" class="col-form-label"
            >English Translation</label
          >
          <input
            type="text"
            class="form-control bg-dark"
            id="inputTranslation"
            maxlength="128"
            [(ngModel)]="this.card.translation"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="this.card.word && this.card.translation"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="addCard()"
        >
          Add Card
        </button>
      </div>
    </div>
  </div>
</div>
