<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <app-title [title]="{ english: 'Quiz', vietnamese: '' }"></app-title>

  <div class="row center mb-2">
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="nextQuestion()">
        Next Question
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <p class="card-title">What does the following translate to?</p>
          <h1 class="card-text total-center">
            {{
              cards[correct_idx]
                ? question_type === "Vietnamese"
                  ? cards[correct_idx].word
                  : cards[correct_idx].translation
                : "Not Enough Data"
            }}
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <p class="card-title">Select an Answer</p>
          <h1 *ngIf="!cards[correct_idx]" class="card-text total-center">
            Not Enough Data
          </h1>
          <ng-container *ngFor="let card of cards; let i = index">
            <app-quiz-answer
              [card]="card"
              [correct]="correct_idx === i"
              [question_type]="question_type"
            ></app-quiz-answer>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 center">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#app-quiz-settings"
      >
        Settings
      </button>
    </div>
  </div>
</div>

<app-quiz-settings
  [question_type_selected]="question_type_selected"
  (setQuestionTypeEvent)="setQuestionType($event)"
  [category_id]="category_id"
  [category_name]="category_name"
  [categories]="categories"
  (setCategoryEvent)="setCategory($event)"
  [answer_count]="answer_count"
  (setAnswerCountEvent)="setAnswerCount($event)"
></app-quiz-settings>
