<app-unauthorized
  *ngIf="!authorized"
  (authorizeEvent)="authorize()"
></app-unauthorized>

<div *ngIf="authorized" class="container">
  <app-title
    [title]="{ english: 'Edit Flash Cards', vietnamese: '' }"
  ></app-title>
  <div class="row">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Word</th>
          <th>Translation</th>
          <th>Audio</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; index as idx">
          <th>{{ card.id }}</th>
          <td>{{ card.word }}</td>
          <td>{{ card.translation }}</td>
          <td>
            <button
              *ngIf="audio_files.includes(card.id)"
              class="btn btn-info"
              (click)="playAudio(idx)"
            >
              <i class="bi bi-volume-up-fill"></i>
            </button>
          </td>
          <td>
            <button
              (click)="editCard(idx)"
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#cardEditModal"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCard(card.id)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right">
    <button class="btn btn-success" (click)="addCard()">
      <i class="bi bi-plus"></i>
      Add Card
    </button>
  </div>
  <br />
  <div class="row">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Card</th>
          <th>Example</th>
          <th>Translation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let example of examples">
          <th>{{ example.id }}</th>
          <td>{{ example.card }}</td>
          <td>{{ example.example }}</td>
          <td>{{ example.translation }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-edit-card-modal
  [card]="card"
  (saveCardEvent)="saveCard($event)"
  (saveAudioEvent)="saveAudio($event)"
></app-edit-card-modal>
