<div class="jumbotron text-center">
  <h1>Flash Cards</h1>
  <p>Learn common Vietnamese words and practice</p>
</div>

<div class="container">
  <div class="row center">
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="previousCard()">
        <i class="bi bi-skip-backward"></i>
        Previous
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="randomCard()">
        Random
        <i class="bi bi-shuffle"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="nextCard()">
        Next
        <i class="bi bi-skip-forward"></i>
      </button>
    </div>
  </div>
  <br />
  <div class="card-deck center">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Vietnamese Word</p>
        <h1 class="card-text" *ngIf="flipped.word; else flipWord">
          {{ card.word }}
        </h1>
        <ng-template #flipWord>
          <app-flip
            section="word"
            (showSectionEvent)="showSection($event)"
          ></app-flip>
        </ng-template>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-title">Translation</p>
        <h1
          class="card-text"
          *ngIf="flipped.word_translation; else flipTranslation"
        >
          {{ card.translation }}
        </h1>
        <ng-template #flipTranslation>
          <app-flip
            section="word_translation"
            (showSectionEvent)="showSection($event)"
          ></app-flip>
        </ng-template>
      </div>
    </div>
  </div>
  <br />
  <div class="card-deck center" *ngIf="examples.length > 0">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Examples</p>
        <ul class="card-text" *ngIf="flipped.examples; else flipWordExamples">
          <li *ngFor="let example of examples">{{ example.example }}</li>
        </ul>
        <ng-template #flipWordExamples>
          <app-flip
            section="examples"
            (showSectionEvent)="showSection($event)"
          ></app-flip>
        </ng-template>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-title">Examples</p>
        <ul
          class="card-text"
          *ngIf="flipped.examples_translation; else flipTranslationExamples"
        >
          <li *ngFor="let example of examples">{{ example.translation }}</li>
        </ul>
        <ng-template #flipTranslationExamples>
          <app-flip
            section="examples_translation"
            (showSectionEvent)="showSection($event)"
          ></app-flip>
        </ng-template>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <p>Card ID: {{ card.id }}</p>
    </div>
    <div class="col-6 right">
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          id="reverseToggle"
          (click)="reverseCards()"
        />
        <label class="custom-control-label" for="reverseToggle"
          >Reverse Flipped Cards</label
        >
      </div>
    </div>
  </div>
</div>
