<div class="jumbotron text-center">
  <h1>Flash Cards</h1>
  <p>Learn common Vietnamese words and practice</p>
</div>

<div class="container">
  <div class="card-deck center">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Vietnamese Word</p>
        <h1 class="card-text">{{ card.word }}</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-title">Translation</p>
        <h1 class="card-text">{{ card.translation }}</h1>
      </div>
    </div>
  </div>
  <br />
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <p class="card-title center">Examples</p>
        <ul>
          <li>Example Sentence 1</li>
          <li>Example Sentence 2</li>
          <li>Example Sentence 3</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-title center">Examples</p>
        <ul>
          <li>Example Sentence 1</li>
          <li>Example Sentence 2</li>
          <li>Example Sentence 3</li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="row center">
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="previousCard()">
        Previous
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="randomCard()">
        Random
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-info" (click)="nextCard()">
        Next
      </button>
    </div>
  </div>
</div>
