<div class="container">
  <app-title
    [title]="{ english: 'Welcome', vietnamese: 'Chào mừng' }"
    [subTitle]="{
      english: 'A Place to Learn and Practice Vietnamese',
      vietnamese: 'Nơi học và thực hành tiếng Việt'
    }"
  ></app-title>

  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Learn</h3>
          <p class="card-text">
            Learn the basics of the Vietnamese language such as the alphabet and
            numbers
          </p>
          <div class="center">
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/vietnamese/learn"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Typing</h3>
          <p class="card-text">
            Learn how to type Vietnamese letters with your keyboard
          </p>
          <div class="center">
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/vietnamese/typing"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Flash Cards</h3>
          <p class="card-text">
            Practice common Vietnamese words with flash cards with examples
          </p>
          <div class="center">
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/vietnamese/flash"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Quiz</h3>
          <p class="card-text">Test your knowledge with a simple quiz</p>
          <div class="center">
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/vietnamese/quiz"
            >
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
