<app-title
  [title]="{
    english: 'Welcome',
    vietnamese: 'Chào mừng'
  }"
  [subTitle]="{
    english: 'A Place to Learn and Practice Vietnamese',
    vietnamese: 'Nơi học và thực hành tiếng Việt'
  }"
></app-title>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Typing</h3>
          <p class="card-text">
            Learn to type Vietnamese letters with your keyboard
          </p>
          <div class="center">
            <button type="button" class="btn btn-primary" routerLink="/typing">
              Go
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card bg-dark">
        <div class="card-body">
          <h3 class="card-title">Flash Cards</h3>
          <p class="card-text">Learn common Vietnamese words and practice</p>
          <div class="center">
            <button type="button" class="btn btn-primary" routerLink="/flash">
              Go
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
