<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <app-title [title]="{ english: 'Flash Cards', vietnamese: '' }"></app-title>

  <div class="row center mb-2">
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="previousCard()">
        <i class="bi bi-skip-backward"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="randomCard()">
        <i class="bi bi-shuffle"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="nextCard()">
        <i class="bi bi-skip-forward"></i>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-word
          [flipped]="flipped.word"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-word>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-translation
          [flipped]="flipped.translation"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translation>
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="examples.length > 0">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-examples
          [flipped]="flipped.examples"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-examples>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-translations
          [flipped]="flipped.translations"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translations>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 center">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#app-flash-settings"
      >
        Settings
      </button>
    </div>
  </div>
</div>

<app-flash-settings
  (setFlipTypeEvent)="setFlipType($event)"
  [category_id]="category_id"
  [category_name]="category_name"
  [categories]="categories"
  (setCategoryEvent)="setCategory($event)"
  [auto_mode]="auto_mode"
  (toggleAutoModeEvent)="toggleAutoMode()"
></app-flash-settings>
