<app-title
  [title]="{
    english: 'Flash Cards',
    vietnamese: 'Thẻ học từ'
  }"
  [subTitle]="{
    english: 'Learn common Vietnamese words and practice',
    vietnamese: 'Học và luyện tâp từ vựng tiếng Việt thông dụng'
  }"
></app-title>

<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="row center mb-2">
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="previousCard()">
        <i class="bi bi-skip-backward"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="randomCard()">
        <i class="bi bi-shuffle"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="nextCard()">
        <i class="bi bi-skip-forward"></i>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-word
          [flipped]="flipped.word"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-word>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-translation
          [flipped]="flipped.translation"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translation>
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="examples.length > 0">
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-examples
          [flipped]="flipped.examples"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-examples>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card bg-dark">
        <app-flash-translations
          [flipped]="flipped.translations"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translations>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 center">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
        >
          {{ flip_type }}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <ng-container *ngFor="let option of flip_type_options">
            <li>
              <a
                [ngClass]="
                  flip_type == option ? 'dropdown-item active' : 'dropdown-item'
                "
                (click)="setFlipType(option)"
              >
                {{ option }}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 center">
      <p>Card ID: {{ card.id }}</p>
    </div>
  </div>
</div>
