<app-title
  [title]="{
    english: 'Flash Cards',
    vietnamese: 'Thẻ học từ'
  }"
  [subTitle]="{
    english: 'Learn common Vietnamese words and practice',
    vietnamese: 'Học và luyện tâp từ vựng tiếng Việt thông dụng'
  }"
></app-title>

<div class="container">
  <div class="row center">
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="previousCard()">
        <i class="bi bi-skip-backward"></i>
        Previous
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="randomCard()">
        Random
        <i class="bi bi-shuffle"></i>
      </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary" (click)="nextCard()">
        Next
        <i class="bi bi-skip-forward"></i>
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark">
        <app-flash-word
          [flipped]="flipped.word"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-word>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark">
        <app-flash-translation
          [flipped]="flipped.translation"
          [card]="card"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translation>
      </div>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="examples.length > 0">
    <div class="col-md-6">
      <div class="card bg-dark">
        <app-flash-examples
          [flipped]="flipped.examples"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-examples>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark">
        <app-flash-translations
          [flipped]="flipped.translations"
          [examples]="examples"
          (showSectionEvent)="showSection($event)"
        ></app-flash-translations>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-4">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input clickable"
          id="switchToggle"
          (click)="switchCards()"
        />
        <label class="form-check-label clickable" for="switchToggle"
          >Switch Flipped Cards</label
        >
      </div>
    </div>
    <div class="col-4 center">
      <p><a routerLink="/edit/flash">(Edit Flash Cards)</a></p>
    </div>
    <div class="col-4 right">
      <p>Card ID: {{ card.id }}</p>
    </div>
  </div>
</div>
