<div class="container">
  <app-title
    [title]="{ english: 'Not Authorized', vietnamese: '' }"
  ></app-title>

  <div class="row center mb-3">
    <div class="col-12">
      <input
        type="password"
        class="form-control bg-dark text-center"
        [(ngModel)]="edit_secret"
      />
    </div>
  </div>
  <div class="row center mb-3">
    <div class="col-12">
      <button type="submit" class="btn btn-danger" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</div>
