<div class="container">
  <app-title
    [title]="{ english: 'Learn the Basics', vietnamese: '' }"
  ></app-title>

  <div class="row py-2">
    <h3>Vietnamese Alphabet</h3>
    <p>
      <code>
        a, ă, â, b, c, d, đ, e, ê, g, h, i, k, l, m, n, o, ô, ơ, p, q, r, s, t,
        u, ư, v, x, y
      </code>
    </p>
    <p>
      Note the additional characters that are not in the English alphabet:
      <code>ă,â,đ,ê,ô,ơ,ư</code>
    </p>
    <p>
      Note the missing characters that are in the English alphabet:
      <code>f,j,w,z</code>
    </p>
  </div>

  <div class="row py-2">
    <h3>The Five Accent Marks/Diacritics</h3>
    <p>
      The following marks are able to be applied to any vowels (including the
      ones above that already have marks).
    </p>
    <table class="table table-dark center align-middle mx-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mark</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>acute</th>
          <td>´</td>
          <th>á</th>
        </tr>
        <tr>
          <th>grave</th>
          <td>`</td>
          <th>à</th>
        </tr>
        <tr>
          <th>hook</th>
          <td>̉</td>
          <th>ả</th>
        </tr>
        <tr>
          <th>tilde</th>
          <td>~</td>
          <th>ã</th>
        </tr>
        <tr>
          <th>dot</th>
          <td>.</td>
          <th>ạ</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row py-2">
    <h3>All Vowels</h3>
    <p>
      The following lays out all possible vowels in the Vietnamese language
      using the marks above. That comes out to a total of 66 vowels.
    </p>
    <table class="table table-dark center align-middle mx-auto">
      <thead>
        <tr>
          <th></th>
          <th><code>a</code></th>
          <th><code>ă</code></th>
          <th><code>â</code></th>
          <th><code>e</code></th>
          <th><code>ê</code></th>
          <th><code>i</code></th>
          <th><code>o</code></th>
          <th><code>ô</code></th>
          <th><code>ơ</code></th>
          <th><code>u</code></th>
          <th><code>ư</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>´</code></th>
          <td>á</td>
          <td>ắ</td>
          <td>ấ</td>
          <td>é</td>
          <td>ế</td>
          <td>í</td>
          <td>ó</td>
          <td>ố</td>
          <td>ớ</td>
          <td>ú</td>
          <td>ứ</td>
        </tr>
        <tr>
          <th><code>`</code></th>
          <td>à</td>
          <td>ằ</td>
          <td>ầ</td>
          <td>è</td>
          <td>ề</td>
          <td>ì</td>
          <td>ò</td>
          <td>ồ</td>
          <td>ừ</td>
          <td>ù</td>
          <td>ừ</td>
        </tr>
        <tr>
          <th><code>̉</code></th>
          <td>ả</td>
          <td>ẳ</td>
          <td>ẩ</td>
          <td>ẻ</td>
          <td>ể</td>
          <td>ỉ</td>
          <td>ỏ</td>
          <td>ổ</td>
          <td>ử</td>
          <td>ủ</td>
          <td>ử</td>
        </tr>
        <tr>
          <th><code>~</code></th>
          <td>ã</td>
          <td>ẵ</td>
          <td>ẫ</td>
          <td>ẽ</td>
          <td>ễ</td>
          <td>ĩ</td>
          <td>õ</td>
          <td>ỗ</td>
          <td>ữ</td>
          <td>ũ</td>
          <td>ữ</td>
        </tr>
        <tr>
          <th><code>.</code></th>
          <td>ạ</td>
          <td>ặ</td>
          <td>ậ</td>
          <td>ẹ</td>
          <td>ệ</td>
          <td>ị</td>
          <td>ọ</td>
          <td>ộ</td>
          <td>ự</td>
          <td>ụ</td>
          <td>ự</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
