<div class="container">
  <app-title
    [title]="{ english: 'Learn the Basics', vietnamese: '' }"
  ></app-title>

  <div class="row mb-2">
    <h3>Vietnamese Alphabet</h3>
    <p>
      <code>
        a, ă, â, b, c, d, đ, e, ê, g, h, i, k, l, m, n, o, ô, ơ, p, q, r, s, t,
        u, ư, v, x, y
      </code>
    </p>
    <p>
      Note the additional characters that are not in the English alphabet:
      <code>ă,â,đ,ê,ô,ơ,ư</code>
    </p>
    <p>
      Note the missing characters that are in the English alphabet:
      <code>f,j,w,z</code>
    </p>
  </div>

  <div class="row mb-2">
    <h3>The Five Accent Marks/Diacritics</h3>

    <p>
      The following marks are able to be applied to any vowels (including the
      ones above that already have marks).
    </p>
    <table
      id="markListTable"
      class="table table-dark center align-middle mx-auto"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Mark</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>acute</td>
          <td>´</td>
        </tr>
        <tr>
          <td>grave</td>
          <td>`</td>
        </tr>
        <tr>
          <td>hook</td>
          <td>̉</td>
        </tr>
        <tr>
          <td>tilde</td>
          <td>~</td>
        </tr>
        <tr>
          <td>dot</td>
          <td>.</td>
        </tr>
      </tbody>
    </table>

    <p>
      Here is an example of each mark used on "la" and the corresponding
      translation to show how these marks can make all the difference.
    </p>
    <table
      id="markExamplesTable"
      class="table table-dark center align-middle mx-auto"
    >
      <thead>
        <tr>
          <th>Example</th>
          <th>Translation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>la</td>
          <td>to yell; scold</td>
        </tr>
        <tr>
          <td>lá</td>
          <td>leaf (on a tree)</td>
        </tr>
        <tr>
          <td>là</td>
          <td>to be</td>
        </tr>
        <tr>
          <td>lả</td>
          <td>to faint</td>
        </tr>
        <tr>
          <td>lã</td>
          <td>plain (plain water)</td>
        </tr>
        <tr>
          <td>lạ</td>
          <td>strange</td>
        </tr>
      </tbody>
    </table>

    <p>Here is how to pronounce each of these examples.</p>
    <ul>
      <li>
        <p>
          No Accent (<code>la</code>) - The level tone is produced at a
          relatively high pitch. Think of the pitch like when you stick out your
          tongue and say "ah" at the doctor's office.
        </p>
      </li>
      <li>
        <p>
          Acute (<code>lá</code>) - This has a rising tone, so it has a very
          high and rising pitch when pronounced.
        </p>
      </li>
      <li>
        <p>
          Grave (<code>là</code>) - This has a falling tone, so it has a rather
          low and falling pitch when pronounced.
        </p>
      </li>
      <li>
        <p>
          Hook (<code>lả</code>) - This has a low-rising tone, so it starts at a
          low pitch and then rises when pronounced.
        </p>
      </li>
      <li>
        <p>
          Tilde (<code>lã</code>) - This has a broken low-rising tone when
          pronounced. Meaning the voice starts low and rises abruptly, resulting
          in airflow being temporarily blocked causing a "break".
        </p>
      </li>
      <li>
        <p>
          Dot (<code>lạ</code>) - This has a low tone, so it is pronounced using
          the lowest tone possible.
        </p>
      </li>
    </ul>
  </div>

  <div class="row mb-2">
    <h3>All Vowels</h3>
    <p>
      The following lays out all possible vowels in the Vietnamese language
      using the marks above. That comes out to a total of 66 vowels.
    </p>
    <table
      id="allVowelsTable"
      class="table table-dark center align-middle mx-auto"
    >
      <thead>
        <tr>
          <th></th>
          <th><code>a</code></th>
          <th><code>ă</code></th>
          <th><code>â</code></th>
          <th><code>e</code></th>
          <th><code>ê</code></th>
          <th><code>i</code></th>
          <th><code>o</code></th>
          <th><code>ô</code></th>
          <th><code>ơ</code></th>
          <th><code>u</code></th>
          <th><code>ư</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>´</code></th>
          <td>á</td>
          <td>ắ</td>
          <td>ấ</td>
          <td>é</td>
          <td>ế</td>
          <td>í</td>
          <td>ó</td>
          <td>ố</td>
          <td>ớ</td>
          <td>ú</td>
          <td>ứ</td>
        </tr>
        <tr>
          <th><code>`</code></th>
          <td>à</td>
          <td>ằ</td>
          <td>ầ</td>
          <td>è</td>
          <td>ề</td>
          <td>ì</td>
          <td>ò</td>
          <td>ồ</td>
          <td>ừ</td>
          <td>ù</td>
          <td>ừ</td>
        </tr>
        <tr>
          <th><code>̉</code></th>
          <td>ả</td>
          <td>ẳ</td>
          <td>ẩ</td>
          <td>ẻ</td>
          <td>ể</td>
          <td>ỉ</td>
          <td>ỏ</td>
          <td>ổ</td>
          <td>ử</td>
          <td>ủ</td>
          <td>ử</td>
        </tr>
        <tr>
          <th><code>~</code></th>
          <td>ã</td>
          <td>ẵ</td>
          <td>ẫ</td>
          <td>ẽ</td>
          <td>ễ</td>
          <td>ĩ</td>
          <td>õ</td>
          <td>ỗ</td>
          <td>ữ</td>
          <td>ũ</td>
          <td>ữ</td>
        </tr>
        <tr>
          <th><code>.</code></th>
          <td>ạ</td>
          <td>ặ</td>
          <td>ậ</td>
          <td>ẹ</td>
          <td>ệ</td>
          <td>ị</td>
          <td>ọ</td>
          <td>ộ</td>
          <td>ự</td>
          <td>ụ</td>
          <td>ự</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
