<div class="container">
  <app-title
    [title]="{ english: 'Typing', vietnamese: 'Đánh máy' }"
    [subTitle]="{
      english: 'Learn to type Vietnamese on the keyboard',
      vietnamese: 'Học gõ tiếng Việt trên bàn phím'
    }"
  ></app-title>

  <div class="row py-2 center">
    <p>
      You will need to have the Vietnamese language/keyboard installed in order
      to follow these instructions.
    </p>
  </div>

  <div class="row py-2">
    <h3>Vietnamese Alphabet</h3>
    <code class="center">
      a, ă, â, b, c, d, đ, e, ê, g, h, i, k, l, m, n, o, ô, ơ, p, q, r, s, t, u,
      ư, v, x, y
    </code>
  </div>

  <div class="row py-2">
    <h3>Typing â, ê, ô, đ</h3>
    <p>
      These each have the "hat", and these can be typed by typing the letter
      twice in a row.
    </p>
    <ul class="center">
      <li>type "aa" for <code>â</code></li>
      <li>type "ee" for <code>ê</code></li>
      <li>type "oo" for <code>ô</code></li>
      <li>type "dd" for <code>đ</code></li>
    </ul>
  </div>

  <div class="row py-2">
    <h3>Typing ư, ơ and ă</h3>
    <p>
      Two of these have the "horn", and the one has the "bowl". They are all
      typed the same way by appending <code>w</code> to the letter.
    </p>
    <ul class="center">
      <li>type "uw" or "w" for <code>ư</code></li>
      <li>type "ow" for <code>ơ</code></li>
      <li>type "aw" for <code>ă</code></li>
    </ul>
  </div>

  <div class="row py-2">
    <h3>The Five Accent Marks/Diacritics</h3>
    <p>
      The following marks are able to be applied to any vowels (including the
      ones above that already have marks).
    </p>
    <table class="table table-dark center align-middle mx-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mark</th>
          <th>Append</th>
          <th>Example With <code>a</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>acute</th>
          <td>´</td>
          <th>s</th>
          <th>type "as" for <code>á</code></th>
        </tr>
        <tr>
          <th>grave</th>
          <td>`</td>
          <th>f</th>
          <th>type "af" for <code>à</code></th>
        </tr>
        <tr>
          <th>hook</th>
          <td>̉</td>
          <th>r</th>
          <th>type "ar" for <code>ả</code></th>
        </tr>
        <tr>
          <th>tilde</th>
          <td>~</td>
          <th>x</th>
          <th>type "ax" for <code>ã</code></th>
        </tr>
        <tr>
          <th>dot</th>
          <td>.</td>
          <th>j</th>
          <th>type "aj" for <code>ạ</code></th>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <br />
  <br />
</div>
