<div class="container">
  <app-title
    [title]="{ english: 'Typing', vietnamese: 'Đánh máy' }"
    [subTitle]="{
      english: 'Learn to type Vietnamese on the keyboard',
      vietnamese: 'Học gõ tiếng Việt trên bàn phím'
    }"
  ></app-title>

  <div class="row py-2">
    <p>
      You will need to have the Vietnamese language/keyboard installed in order
      to follow these instructions.
    </p>
  </div>

  <div class="row py-2">
    <h3>Vietnamese Alphabet</h3>
    <code>
      a, ă, â, b, c, d, đ, e, ê, g, h, i, k, l, m, n, o, ô, ơ, p, q, r, s, t, u,
      ư, v, x, y
    </code>
  </div>

  <div class="row py-2">
    <h3>Typing â, ê, ô, đ</h3>
    <p>
      These each have the "hat", and these can be typed by typing the letter
      twice in a row.
    </p>
    <ul>
      <li>type "aa" for <code>â</code></li>
      <li>type "ee" for <code>ê</code></li>
      <li>type "oo" for <code>ô</code></li>
      <li>type "dd" for <code>đ</code></li>
    </ul>
  </div>

  <div class="row py-2">
    <h3>Typing ư, ơ and ă</h3>
    <p>
      Two of these have the "horn", and the one has the "bowl". They are all
      typed the same way by appending <code>w</code> to the letter.
    </p>
    <ul>
      <li>type "uw" or "w" for <code>ư</code></li>
      <li>type "ow" for <code>ơ</code></li>
      <li>type "aw" for <code>ă</code></li>
    </ul>
  </div>

  <div class="row py-2">
    <h3>The Five Accent Marks/Diacritics</h3>
    <p>
      The following marks are able to be applied to any vowels (including the
      ones above that already have marks).
    </p>
    <table class="table table-dark center align-middle mx-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mark</th>
          <th>Append</th>
          <th>Example With <code>a</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>acute</th>
          <td>´</td>
          <th>s</th>
          <th>type "as" for <code>á</code></th>
        </tr>
        <tr>
          <th>grave</th>
          <td>`</td>
          <th>f</th>
          <th>type "af" for <code>à</code></th>
        </tr>
        <tr>
          <th>hook</th>
          <td>̉</td>
          <th>r</th>
          <th>type "ar" for <code>ả</code></th>
        </tr>
        <tr>
          <th>tilde</th>
          <td>~</td>
          <th>x</th>
          <th>type "ax" for <code>ã</code></th>
        </tr>
        <tr>
          <th>dot</th>
          <td>.</td>
          <th>j</th>
          <th>type "aj" for <code>ạ</code></th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row py-2">
    <h3>All Vowels</h3>
    <p>
      The following lays out all possible vowels in the Vietnamese language
      using the marks above. That comes out to a total of 66 vowels.
    </p>
    <table class="table table-dark center align-middle mx-auto">
      <thead>
        <tr>
          <th></th>
          <th><code>a</code></th>
          <th><code>ă</code></th>
          <th><code>â</code></th>
          <th><code>e</code></th>
          <th><code>ê</code></th>
          <th><code>i</code></th>
          <th><code>o</code></th>
          <th><code>ô</code></th>
          <th><code>ơ</code></th>
          <th><code>u</code></th>
          <th><code>ư</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>´</code></th>
          <td>á</td>
          <td>ắ</td>
          <td>ấ</td>
          <td>é</td>
          <td>ế</td>
          <td>í</td>
          <td>ó</td>
          <td>ố</td>
          <td>ớ</td>
          <td>ú</td>
          <td>ứ</td>
        </tr>
        <tr>
          <th><code>`</code></th>
          <td>à</td>
          <td>ằ</td>
          <td>ầ</td>
          <td>è</td>
          <td>ề</td>
          <td>ì</td>
          <td>ò</td>
          <td>ồ</td>
          <td>ừ</td>
          <td>ù</td>
          <td>ừ</td>
        </tr>
        <tr>
          <th><code>̉</code></th>
          <td>ả</td>
          <td>ẳ</td>
          <td>ẩ</td>
          <td>ẻ</td>
          <td>ể</td>
          <td>ỉ</td>
          <td>ỏ</td>
          <td>ổ</td>
          <td>ử</td>
          <td>ủ</td>
          <td>ử</td>
        </tr>
        <tr>
          <th><code>~</code></th>
          <td>ã</td>
          <td>ẵ</td>
          <td>ẫ</td>
          <td>ẽ</td>
          <td>ễ</td>
          <td>ĩ</td>
          <td>õ</td>
          <td>ỗ</td>
          <td>ữ</td>
          <td>ũ</td>
          <td>ữ</td>
        </tr>
        <tr>
          <th><code>.</code></th>
          <td>ạ</td>
          <td>ặ</td>
          <td>ậ</td>
          <td>ẹ</td>
          <td>ệ</td>
          <td>ị</td>
          <td>ọ</td>
          <td>ộ</td>
          <td>ự</td>
          <td>ụ</td>
          <td>ự</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row py-2">
    <h3>Typing English Names</h3>
    <p>
      If you want to type an english name such as Mary or Lawrence, you will
      need to do something to void typing Vietnamese characters. You notice the
      "ar" in Mary will produce <code>ả</code>, and the "awr" in Lawrence will
      produce <code>ẳ</code>. In order to stop the special vietnamese characters
      while the keyboard is enabled you can append that special character twice.
    </p>
    <ul>
      <li>type "arr" for <code>ar</code></li>
      <li>type "awwr" for <code>awr</code></li>
    </ul>
  </div>
</div>
